html{
    background-image: url("img/2.jpg");
}
section{
    display: flex;
    flex-direction: row;
}
 h2 {
    margin-left: 70px;
    color: white;
 }
 span{
    color:white;
    margin-left: 170px;
 }


 .row .col-60{
    width: 100%;
    margin-left: 40%;
    margin-top: 43%;
    padding-left: 30px;
}

.row .col-60 form{
    width: 100%;
}

.row .col-60 form .div-group{
    width: 100%;
    padding: 20px;
    box-sizing: border-box;
}
.boton_1{
    text-decoration: none;
    padding: 5px;
    font-size: 23px;
    color: #ffffff;
    background-color: #f77b06;
    border-radius: 38px;
    padding-left: 30px;
    padding-right: 30px;
    border: 0px solid #f77b06;
  }
  .boton_1:hover{
    opacity: 0.6;
    text-decoration: none;
  }

  input{
    text-decoration: none;
    padding: 5px;
    font-size: 22px;
    border-radius: 38px;
    border: 0px solid;
  }